.price {
    gap: var(--biggest);
    display: flex;
    padding: 98px 146px;
    flex-direction: column;
    background-color: #FAF6FA;
}

.price-list {
    gap: var(--midBig);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price-selector {
    display: flex;
    align-items: center;
    gap: var(--smallest);
}

.selector {
    width: 40px;
    height: 20px;
    position: relative;
    border-radius: 10px;
    background-color: var(--purple);
}

.selector div {
    top: 2px;
    left: 2px;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--white);
}

.price-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--biggest);
}
.price-card{
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: var(--big);
}
.price-card:nth-of-type(3) h3,
.price-card:nth-of-type(3) p,
.price-card:nth-of-type(3) h5 {
    color: var(--white) !important;
}
.price-card:nth-of-type(3){
    background-color: var(--purple);
}
.price-card:nth-of-type(3) a{
    background-color: var(--white);
    color: var(--purple);
}
.price-card div{
    display: flex;
    flex-direction: column;
    gap: var(--smallest);
}
.details{

}

.details li{
    margin-left: 18px ;
    list-style: none;
    list-style-type: circle;
}