@media(max-width:768px) {
    header {
        padding: 17px 30px;
    }

    footer {
        gap: 100px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-nav-links {
        display: flex;
        gap: var(--midBig);
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        top: 0;
        gap: var(--biggest);
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 20px 40px;
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        animation: slideIn .2s linear;
        /* transition:  transform .3s linear; */
        z-index: 2;
    }

    .nav-links.active{
        /* transform: translateX(10%); */
    }

    .nav-links li {
        font-size: 1.625em;
    }

    .nav-btn {
        display: none;
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
    }

    .nav-btn a {
        font-size: 1em;
    }

    .clicker-open {
        display: block;
        width: 30px;
    }

    .clicker-close {
        width: 40px;
        display: block;
        margin-left: 300px;
    }

    .hero {
        gap: var(--big);
        padding: 20px 40px;
        flex-direction: column-reverse;
    }

    .hero-image {
        width: 380px;
    }

    .hero-text-content {
        gap: var(--midBig);
    }

    .circle {
        top: 0;
        left: 10;
        width: 350px;
        height: 350px;
        position: absolute;
    }

    .services {
        gap: 50px;
        padding: 22px 80px;
        flex-direction: column;
    }

    .offers {
        padding: 20px 60px;
    }

    .offer {
        flex-direction: column;
    }

    .offer:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .offer img {
        width: 300px;
        height: 200px
    }

    .offer-text {
        gap: var(--midBig);
    }

    .trial {
        padding: 20px 60px;
    }

    .offers-select div {
        padding: 15px 20px;
    }

    .offers-select div h2 {
        font-size: 1.125em;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #818174;
    }

    .active-offer-text {
        font-weight: 700 !important;
    }

    .price {
        padding: 20px 50px;
    }

    .price-cards {
        flex-direction: column;
    }

    .blog {
        padding: 50px 70px;
        align-items: center;
        gap: var(--big);
    }

    .mainBlog {
        flex-direction: column;
        gap: var(--big);
        width: 350px;
    }

    .mainBlog img {
        width: 300px;
    }

    .about {
        padding: 20px 20px;
        gap: var(--midSmall);
        align-items: center;
    }

    .team h4 {
        font-size: 1em !important;
    }

    .members {
        flex-direction: column;
        align-items: center;
    }

    .brandIdentity {
        flex-direction: column;
    }

    .message {
        display: none;
    }

    .contact {
        padding: 20px 30px;
        flex-direction: column;
    }

    .contact img {
        width: 100%;
    }

    input,
    textarea {
        width: 340px;
    }
    .auth-btn{
        width: 340px;
    }
}